doctype html
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/assets/css/style.css' rel='stylesheet')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#0ed3cf')
  meta(name='msapplication-TileColor' content='#0ed3cf')
  meta(name='theme-color' content='#0ed3cf')
  meta(property='og:image' content='https://lh3.googleusercontent.com/_xox9JqAgU7Sd1U3iwwoRFFOH_aJwsDQM9qAcdwD7cAoSQkCB4otaslP5y7IP9X-coNfp7YJpFyt_R7eMBOeIF11h3UvmjF3iFc0STIvJln32gBdw46gttCAaZbr-_AuiyooBilauzWjlNYFHb8dnE5VJtx4rSjAm_BV9WZkBYBGeI0WOvq3TUtIXVZDdB1LVZx0aPZFXg3gmAncOmmgArrzLOsxCr6rCrf6FFETjxdltsi7j9vzqCAUZTLnBg870LIRfpvkF-a7QoCzoIhE-YFczO5X8yudotYBQ117RKxmiI0u7gyuyZUGh8KVvbmdkXGE7EBFgLc2QC8QVOQg91WfXfGTiMj__biYZ6S8xFCCqbs4jkhdzhghOuB6KHDREk3zAZuwIQpnYBGr9X4tZn3I2fwl5sOJpdEYos6RKMzScRByBwifhcNf2UYHsZR7hfSRVMTdcBBHPsa4ssyuGnAEruWSay793mkEQwjXD0fBKH3XaPWdJnE4tRgW_RiOy2_d6wZfpp1ha11qPk2TXWs7WTiL2WRyVjzyQzM7_VR9JxsBnaHFIAddIdqQ6HBlEOIfIxiL9Xy4z-SuWuN332Tblf0qvh61oBoRnQeZbQnuWwocem--N89nfQej_ep6MaQab8eYEsEvb6N1mihCV8-h8qeUsKKUQi1NhEiY62YWARpljgVx81upk7ZeoX7djE7bxL9SSsPv66tct8JgwD-K=w509-h220-no?authuser=0')
  meta(property='og:image:width' content='1280')
  meta(property='og:image:height' content='640')
  meta(property='og:image:type' content='image/png')
  meta(property='og:url' content='https://sobocode.online/youtuberanker')
  meta(property='og:title' content='YoutubeRanker #1 Youtube Tools | Sobocode')
  meta(property='og:description' content='Hi!. Check your Youtube videos ranking today')
  meta(name='twitter:card' content='summary_large_image')
  title #{title}
  body
    block content
